streamlit
pandas
numpy
plotly
scikit-learn
joblib
sqlalchemy
psycopg
psycopg-binary
requests
folium
streamlit-folium

fastapi
uvicorn
bcrypt
passlib
python-jose
python-multipart
email-validator
python-dotenv
cryptography